@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #79b8ff;
  --tertiary-color: #ffac41;
  --font-family: 'Montserrat', sans-serif;
}

.crypto-tracker {
  background-color: #f7f7f7;
  font-family: var(--font-family);
  border: 10px solid var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 400% 400%;
}

@keyframes bitcoin-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}




input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f2f2f2;
  color: #333;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  
}

.input-group {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 2rem;
  margin: 0 1rem;
  
}

#crypto-table {
  margin: 2rem auto;
  width: 50%;
  border-collapse: collapse;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000; /* add a border to the table */

}

#crypto-table th {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  border: 1px solid #000000;
}
#crypto-table td {
  text-align: center;
  padding: 1rem;
  border: 1px solid #000000;
}


h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem 1;
  color: var(--primary-color);
  font-family: var(--font-family);
  padding: 1rem;
  border-radius: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  border: 1px solid var(--primary-color);
  text-align: center;
}

th {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  
  border-bottom: 1px solid #ccc;
  font-family: var(--font-family);
}

td {
  font-size: 1.2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  font-family: var(--font-family);
  
}

button {
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 auto; /* center horizontally */
  display: block; /* make it a block element */
  font-family: var(--font-family);
}



button:hover {
  background-color: #ff8c00;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 1.2rem;
  }
  th {
    font-size: 1rem;
  }
  td {
    font-size: 1rem;
    justify-content: center;
    align-items: center;


  }
  .input-container {
    display: flex;
    flex-direction: column; /* change from row to column */
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .input-group {
    display: flex;
    flex-direction: column; /* change from row to column */
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 0rem;
    margin: 0 1rem;
    margin-bottom: 0rem; /* add margin bottom to make input groups closer together */
    margin-top: 0rem; /* add margin top to separate from the previous input group */
    width: 80%; /* set a width to make it fit on smaller screens */
  }
  #crypto-table {
    margin: 2rem auto;
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000; /* add a border to the table */

  }
  
  #crypto-table th {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    border: 1px solid #000000;
  }
  #crypto-table td {
    text-align: center;
    padding: 1rem;
    border: 1px solid #000000;
  }
  
}

.table-row {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.fade-out {
  animation-name: fade-out;
}


